<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index garment</title>
</head>

<body>
    <h1>
        garments
    </h1>

    <a href="/garments/create">Add garment</a>
    <ul>
        <% for(let garment of garments) { %>
            <a href="/garments/<%= garment._id %>">
                <li>
                    <%= garment.name %> - <%= garment.location %>
                </li>
            </a>
            <% } %>
    </ul>
</body>

</html>